VIVO_APP_ID=
VIVO_APP_KEY=

ZHIPU_API_KEY=

RAG_API_URI=/embedding-model-api/predict/batch
RAG_API_DOMAIN=api-ai.vivo.com.cn

MULTIMODAL_URI=/vivogpt/completions
MULTIMODAL_DOMAIN=api-ai.vivo.com.cn

VIVOGPT_API_URI=/vivogpt/completions
VIVOGPT_API_DOMAIN=api-ai.vivo.com.cn
VIVOGPT_API_STREAM_URI=/vivogpt/completions/stream

WEB_SEARCH_API_KEY=6d02b557c6ad44ab8ad89352b8d574a6.mMjCpdDH5W26Lj63
WEB_SEARCH_URL=https://open.bigmodel.cn/api/paas/v4/web_search

